* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}

.logo {
  text-align: center;
  padding: 12px;
}
.logo img {
  width: 140px;
}

.container {
  display: flex;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

/* MENU */
.menu {
  width: 70px;
  background: #111;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu img {
  width: 40px;
  opacity: .6;
}
.menu button {
  background: none;
  border: none;
}
.menu button.ativo img {
  opacity: 1;
  transform: scale(1.1);
}

/* VITRINE */
.vitrine {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-left: 16px;
}

.card {
  background: #111;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  transition: transform .2s;
}
.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  max-height: 140px;
  object-fit: contain;
}
.card h3 {
  font-size: 15px;
}
.card p {
  color: #0f3;
  font-size: 14px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #111;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
  animation: zoom .3s;
}

@keyframes zoom {
  from {transform: scale(.8);}
  to {transform: scale(1);}
}

.modal-box img {
  width: 180px;
}

select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #0f3;
  border: none;
  cursor: pointer;
}

.fechar {
  float: right;
  font-size: 22px;
  cursor: pointer;
}
